
<%= link_to(content_tag(:span,l(:label_docflow_tree_view)),{:controller => controller.controller_name, :action => controller.action_name, :as_tree => "y"}, :class => "icon icon-tree") %>
<hr>

<% unless @versions.empty? %>
  <table class="list">
    <tr>
      <th colspan=3 style="text-align:center; background-color: #BAD8BA;"> <%= l(:label_docflow_selected_version) %> </th>      
      <th colspan=2 style="text-align:center; background-color: #D1BDBD;"> <%= l(:label_docflow_current_version) %> </th>      
    </tr>    
    <tr>
      <th> <%= l(:label_docflow_title) %> </th>      
      <th> <%= l(:label_docflow_version) %> </th>
      <th> <%= l(:label_docflow_category) %> </th>
      <th> <%= l(:label_docflow_version) %> </th>
      <th> <%= l(:label_docflow_actual_from) %> </th>
    </tr>
<% 
    docs = Docflow.find(@versions.inject([]){|ar,v| ar.push(v.docflow_id)}).sort_by{|d| d.title}
    sorted_verions = @versions.sort_by{|v| [v.docflow.title,v.version]}

    docs.each do |doc|
      doc_versions = sorted_verions.inject([]){|ar,v| (v.docflow_id == doc.id) ? ar.push(v) : ar }

      if doc.canceled?
        txt_cur_date = (doc.last_version.actual_date.nil?) ? doc.last_version.updated_at : doc.last_version.actual_date
        txt_cur_date = (content_tag(:span, format_date(txt_cur_date.utc.getlocal), :style => "text-decoration: line-through;")+" ("+l(:label_docflow_version_canceled)+")")
        txt_ver = link_to_version(doc.last_version)
      else
        txt_cur_date = (doc.actual_version.nil?) ? "-" : format_date(doc.actual_version.actual_date.utc.getlocal)
        txt_ver = (doc.actual_version.nil?) ? "-" : link_to_version(doc.actual_version)
      end

%>
    <tr>
      <td> <%= doc.type.name %>: <%= link_to doc.title, doc_versions.last %> </td>      
      <td> <%= doc_versions.inject(""){|href,v| href += ((href == "") ? link_to_version(v) : ", "+link_to_version(v))}.html_safe %> </td>
      <td> <%= doc.category.name %> </td>
      <td> <%= txt_ver %> </td>
      <td> <%= txt_cur_date %> </td>
    </tr>
  <% end %>

  </table>
<% end %>