<% unless @versions.empty? %>
  <% sel = "" unless local_assigns[:sel] %>

  <%= link_to( l(:label_docflow_tree_view), 
               {:controller => controller.controller_name, :action => controller.action_name, :view_as => "tree", :sel => sel}, 
               :remote => true,
               :class => "icon icon-tree") %>
  <%= docflow_query_annotation( sel.empty? ? controller.action_name : sel) %>
  <hr>
  <table class="list">  
    <tr>
      <th> <%= l(:label_docflow_type) %> </th>      
      <th> <%= l(:label_docflow_title) %> </th>      
      <th> <%= l(:label_docflow_version) %> </th>
      <th> <%= l(:label_docflow_category) %> </th>
      <th> <%= l(:label_docflow_author) %> </th>
      <th> <%= l(:label_docflow_actual_from) %> </th>
    </tr>
  <% @versions.sort_by{|v| [v.docflow.title,v.version]}.each do |ver| %>
    <tr>
      <td> <%= ver.docflow.type.name %> </td>  
      <td> <%= link_to ver.docflow.title, ver %> </td>      
      <td> <%= link_to_version(ver) %> </td>
      <td> <%= ver.docflow.category.name %> </td>
      <td> <%= link_to_user ver.author %> </td>
      <td> <%= (ver.actual_date.nil?) ? "-" : format_date(ver.actual_date.utc.getlocal) %> </td>
    </tr>
  <% end %>
  </table>
<% end %>