<% sel = local_assigns[:selection] ? selection : "" %>
<div id="view_container_<%= sel %>">
<%= link_to( l(:label_docflow_list_view), 
             {:controller => controller.controller_name, :action => controller.action_name, :view_as => "list", :sel => sel}, 
             :onclick => "jQuery('#view_container_#{sel}').load(this.href); return false;", 
             :class => "icon icon-list") %>
<hr>

<div id="docs_tree_<%= sel %>" style="padding-left:5px;">
  <% unless @versions.empty? %>
    <% categories = DocflowCategory.order("lft")
       sorted_verions = @versions.sort_by{|version| [version.docflow.title,version.version]}
       docs = Docflow.find(@versions.inject([]){|ar,v| ar.push(v.docflow_id)}).sort_by{|d| d.title}
     %>
    <%= li_tree(categories) do |category| %>
      <%
        category_docs = docs.inject([]){|ar,doc| (doc.docflow_category_id == category.id) ? ar.push(doc) : ar }
        html = ""

        category_docs.each do |doc|
          doc_versions = sorted_verions.inject([]){|ar,v| (v.docflow_id == doc.id) ? ar.push(v) : ar }
          html << "<li class='tree_leaf'>"+doc.type.name+": "+doc.title+" "+
                    (doc_versions.inject(""){|href,v| href += ((href == "") ? link_to_version(v) : ", "+link_to_version(v))})+"</li>"
        end
        html
      %>  
    <% end %>
  <% end %>
</div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(){
    sort_tree("docs_tree_<%= sel %>");
    clear_tree("docs_tree_<%= sel %>");

  });
</script>
