<%= render :partial => 'docflows/head' %>
<div class="contextual">
  <%= docflow_new_button %>
</div>

<h2><%= content_tag(:span,@page_title)  %></h2>
<% unless @versions.empty? %>
  <%= render :partial => 'actual_versions' %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'docflows/sidebar' %>
<% end %>
