<div class="contextual">
  <%= docflow_delete_button %>
</div>
<h2><%= l(:label_docflow_edit) %></h2>

<%= form_for(@doc,:html => {:multipart => true}) do |f| %>
<div class="box tabular">
  <div id="all_attributes">
    <%= render 'form'  %>
  </div>
</div>
<%= f.submit l(:button_update), :class => "btn-def" %>
<% end %>

<%= link_to l(:label_docflow_back), @doc.last_version, :class => "btn-def" %>
