<%= render :partial => 'docflows/head' %>
<div class="contextual">
  <%= docflow_new_button %>
</div>

<h2><%= content_tag(:span,l(:label_docflow_needed_for_your_attention))  %></h2>

<% unless @waiting.empty? %>
  <h3><%= l(:label_docflows_waiting_for_my_approvial)+" ("+@waiting.size.to_s+")" %></h3>
  <% @versions = @waiting %>
  <%= render :partial => 'list_with_author', :locals => {:selection => 'waiting'} %>
<% end %>

<% unless @unread.empty? %>
  <h3><%= l(:label_docflows_need_to_familiarize)+" ("+@unread.size.to_s+")" %></h3>
  <% @versions = @unread %>
  <%= render :partial => 'list_with_author', :locals => {:selection => 'unread'} %>
<% end %>

<% unless @in_work.empty? %>
  <h3><%= l(:label_docflows_in_work)+" ("+@in_work.size.to_s+")" %></h3>
  <% @versions = @in_work %>
  <%= render :partial => 'list_versions', :locals => {:selection => 'in_work'} %>
<% end %>

<% content_for :sidebar do %>
  <%= render :partial => 'docflows/sidebar' %>
<% end %>
