<%= render :partial => 'docflows/head' %>
<div class="contextual">
  <%= docflow_new_button %>
  <%= link_to("Tree view",{:controller => "docflows", :action => "created_by_me", :as_tree => "y"}) %>
</div>

<h2><%= content_tag(:span,@page_title)  %></h2>
<div id="docs_tree">
  <% unless @versions.empty? %>
    <% categories = DocflowCategory.order("lft")
       versions = @versions.sort_by{|version| [version.docflow.title,version.version]}
     %>
    <%= li_tree(categories) do |category| %>
      <%
         category_versions = versions.inject([]){|cv,version| (version.docflow.docflow_category_id == category.id) ? cv.push(version) : cv }
         category_versions.inject(""){ |html,cv| html << "<li class='tree_leaf'>"+cv.docflow.type.name+": "+cv.docflow.title+" "+link_to_version(cv)+"</li>" }
      %>  
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(){

    jQuery('.tree_link').click(function(){
      fold = jQuery(this).parent();
      if ( jQuery(fold).hasClass("node_expanded") ) {
        jQuery(fold).children("ul").hide();
        jQuery(fold).removeClass('node_expanded');
      }
      else {
        jQuery(fold).children("ul").show();
        jQuery(fold).addClass('node_expanded');
      }
      return false;        
    })

    sort_tree("docs_tree");
  });

  function sort_tree(tree_id){
    jQuery("#"+tree_id+" ul.tree_container").each(function (i, el) {
      first_leaf = jQuery(el).children("li.tree_leaf").first();
      if ( jQuery(first_leaf).length ) {
        jQuery(el).children("li.tree_fold").each(function(k, elem){
          jQuery(elem).insertBefore(first_leaf)
        })
      }        
    })    
  }


</script>

<% content_for :sidebar do %>
  <%= render :partial => 'docflows/sidebar' %>
<% end %>
