<%= render :partial => 'docflows/head' %>

<%= fields_for @version do |ff|%>
  <p>
    <%= label_tag l(:label_docflow_version_of_document)+":" %>
    <%= @version.docflow.title %>
  </p>

  <p>
    <%= label_tag l(:label_docflow_version)+":" %>
    <%= link_to_version(@version) %>
  </p>

  <p>
    <% approvers_group = Group.find(Setting.plugin_docflows['approve_allowed_to'])
       users = approvers_group.users.active
       users.unshift(@version.approver) unless @version.approver_id.nil? || users.exists?(@version.approver_id) %>
       
    <%= ff.label l(:label_docflow_approver)+":" %>
    <%= ff.collection_select(:approver_id, users.sort_by{|user| user.name}, :id, :name) %>
  </p>

  <p>
    <%= ff.label l(:label_docflow_actual_from)+":" %>
    <%= ff.text_field(:actual_date, {:value => @version.actual_date ? @version.actual_date.utc.getlocal.to_date : "", :size => "10"}) %>
    <%= calendar_for('docflow_version_actual_date') %>
  </p>

  <%= ff.hidden_field :docflow_id %>
  <%= ff.hidden_field :version %>
  <%= ff.hidden_field :author_id %>
  <%= ff.hidden_field :docflow_status_id %>
<% end %>