<% if @version.errors.any? %>
  <div id="error_explanation" class="flash error">
    <h4><%= pluralize(@version.errors.count, "error")+l(:label_docflow_errors_found) %> </h4>
    <ul>
    <% @version.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2><%= l(:label_docflow_edit_version) %></h2>
<%= form_for(@version, :html => {:multipart => true}) do |f| %>
  <div class="box tabular">
    <div id="all_attributes">
      <%= render 'form' %>
      <%= render 'docflow_files/edit_attachments' %>
      <%= render 'docflow_files/form' %>
    </div>
  </div>
  <%= f.submit l(:button_update),  :class => "btn-def" %>
  <%= link_to l(:label_docflow_back), @version,  :class => "btn-def" %>
<% end %>
