<%= render :partial => 'docflows/head' %>

<% if @version.errors.any? %>
  <div id="error_explanation" class="flash error">
    <h4><%= pluralize(@version.errors.count, "error")+l(:label_docflow_errors_found) %> </h4>
    <ul>
    <% @version.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2><%= l(:label_docflow_new_version) %></h2>
<%= form_for(@version, :html => {:multipart => true}) do |f| %>
  <div class="box tabular">
    <div id="all_attributes">
      <p>
        <%= label_tag l(:label_docflow_new_version_for) %>
        <%= @version.docflow.title %>
      </p>
      <p>
        <%= label_tag l(:label_docflow_version) %>
        <%= 'ver.'+ @version.version.to_s %>
      </p>
      <p>
        <%= label_tag l(:label_docflow_additional) %>
        <%= check_box_tag("inherit_know_list", 'y') + l(:label_docflow_inherit_know_list) %>
        <%#= check_box_tag("inherit_approver", 'y') + l(:label_docflow_inherit_approver) %>
      </p>
      <p>
        <% approvers_group = Group.find(Setting.plugin_docflows['approve_allowed_to'])
           users = approvers_group.users.active
           users.unshift(@version.approver) unless @version.approver_id.nil? || users.exists?(@version.approver_id) %>
        <%= f.label l(:label_docflow_approver)+":" %>
        <%= f.collection_select(:approver_id, users.sort_by{|user| user.name}, :id, :name) %>
      </p>      
      <p>
        <%= f.label l(:label_docflow_actual_from)+":" %>
        <%= f.text_field(:actual_date, {:value => @version.actual_date ? @version.actual_date.utc.getlocal.to_date : "", :size => "10"}) %>
        <%= calendar_for('docflow_version_actual_date') %>
      </p>

      <p class="doc_description">
        <label><%= l(:label_docflow_text) %>:</label>
        <%= content_tag 'span', :id => "version_description_and_toolbar", :style => nil do %>
        <%= f.text_area :description,
                         :cols => 60,
                         :rows => (@version.description.blank? ? 10 : [[10, @version.description.length / 50].max, 100].min),
                         :accesskey => accesskey(:edit),
                         :class => 'wiki-edit',
                         :no_label => true %>
        <% end %>
      </p>      
      <%= wikitoolbar_for 'docflow_version_description' %>

      <%= f.hidden_field :docflow_id %>
      <%= f.hidden_field :version %>
      <%= f.hidden_field :author_id %>
      <%= f.hidden_field :docflow_status_id %>

      <%= render "docflow_files/form", :is_new => "y" %>
    </div>
  </div>
  <%= f.submit l(:button_create),  :class => "btn-def" %>
  <%= link_to l(:label_docflow_back), @version.docflow.last_version,  :class => "btn-def" %>
<% end %>
