<%= render :partial => 'docflows/head' %>

<% if @version.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@version.errors.count, "error")+l(:label_docflow_errors_found) %></h2>
    <ul>
    <% @version.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="contextual">
<%= docflow_edit_button %>
<%= docflow_delete_button %>
</div>
<% 
  css = (@version.status.id < 4) ? "stat stat-def" : "stat stat-cancel"

  status = @version.status.name
  status = l(:label_docflows_need_to_familiarize) if @version.status.id == 3 && @version.user_in_checklist?(User.current.id)
  status = l(:label_docflows_familiarized) if @version.status.id != 4 && !DocflowFamiliarization.where('user_id=? and docflow_version_id=?', User.current.id, @version.id).first.nil?
 %>
<h2>
  <%= content_tag(:span, status, :class => css) %> 
  <%= content_tag(:span,@version.docflow.type.name, :style => "font-weight:normal;") %> 
  <%= content_tag(:span, "&rarr;".html_safe, :style => "font-size: 18px;") %> 
  <%= @version.docflow.title %>
</h2>

<div id="version_buttons">
  <%= docflow_version_to_approvial_button %>
  
  <%= docflow_version_postpone_button %>
  
  <%= docflow_version_approve_button %>
  
  <%= docflow_version_cancel_button %>
  
  <%= docflow_version_delete_button %>
  
  <%= docflow_version_checklist_button %>
               
  <%= docflow_version_edit_button %>
  
  <%= docflow_version_new_button %>

  <%= docflow_version_accept_button %>

  <%= content_tag(:span, "" ,
                  :class => "fake-block") if @version.docflow.last_version.status.id == 3 && (User.current.edit_docflows? || User.current.edit_docflows_in_category?(@version.docflow.docflow_category_id) ) %>
</div>
<% if @version.status.id == 2 %>
  <div id="approve-form" style="display:none;">
    <%= form_tag({:controller => 'docflow_versions', :action=> 'approve'}, :method => "post") do %>
      <%= link_to('',{},:class=>'icon close-icon',:id => "close-approve-btn", :style=>"margin-left:-18px; margin-top:-1px;") %>
      <p>
        <strong><%= l(:label_docflow_actual_from) %>: </strong>
        <%= text_field_tag(:actual_date, (@version.actual_date ? @version.actual_date.utc.getlocal.to_date : ""), :size => "10") %><%= calendar_for('actual_date') %>
      </p>
      <%= submit_tag('Утвердить') %>
    <% end %>
  </div>
<% end %>
<div class="issue status-1 priority-1 details">
  <div class="ver-list">
    <strong><%= l(:label_docflow_versions) %>: </strong>
      <% if @version.docflow.versions.any? %>
        <% @version.docflow.versions.order(:id).each do |ver| %>
            <% css = (ver.id == @version.id) ? "ver-current" : "ver-common"
               css += " ver-actual" if !@version.docflow.actual_version.nil? && @version.docflow.actual_version.id == ver.id %>

            <%= link_to_version(ver, css, true) %>
            <%= "<span class='ver_arrow'>&rarr;</span>".html_safe unless ver.id == @version.docflow.last_version.id %>
        <% end %>
      <% end %>
  </div>
  <hr>

  <p class="author">
    <%= authoring @version.created_at, @version.author %>.
    <%= l(:label_updated_time, time_tag(@version.updated_at)).html_safe if @version.created_at != @version.updated_at %>
  </p>

  <%= render 'docflow_files/show_attachments' %>

  <% unless @version.docflow.description.nil? || @version.docflow.description == "" %>
    <hr>

    <p><strong><%= l(:label_docflow_description) %>:</strong></p>
    <div class="wiki">
      <%= textilizable @version.docflow, :description %>
    </div>
    <br>
  <% end %>
  <hr>
  <% rowspan = (@version.last? && @version.docflow.canceled?) ? "5" : "4" %>
  <div id="version_detail">
      <table class="invisi-table">
      <tbody><tr>
          <th><%= l(:label_docflow_approver)%>:</th>
          <td><%= (@version.approver.nil?) ? "-" : link_to_user( @version.approver ) %></td>
          <th rowspan="<%= rowspan %>"><%= l(:label_docflow_check_list) %>:</th>
          <td rowspan="<%= rowspan %>"><%= render 'docflow_checklists/selected_rules', :compact => 'y' %></td>
      </tr>
      <tr>
          <th><%= l(:label_docflow_approved_date) %>:</th>
          <td><%= (@version.approve_date.nil?) ? "-" : format_date(@version.approve_date.utc.getlocal) %></td>
      </tr>
      <tr>
          <th><%= l(:label_docflow_responsible) %>:</th>
          <td><%= (@version.docflow.responsible.nil?) ? "-" : link_to_user( @version.docflow.responsible )%></td>
      </tr>
      <tr>
          <th><%= l(:label_docflow_created) %>:</th>
          <td><%= (@version.created_at.nil?) ? "-" : format_date(@version.created_at.utc.getlocal) %></td>
      </tr>
      <% if rowspan == "5" %>
        <tr>
            <th><%= l(:label_docflow_version_canceled) %>:</th>
            <td><%= (@version.updated_at.nil?) ? "-" : format_date(@version.updated_at.utc.getlocal) %></td>
        </tr>      
      <% end %>      
      </tbody></table>
  </div>
</div>

<div id="fam_list">
  <%= render 'docflow_checklists/result_list' %>
</div>

<% content_for :sidebar do %>
    <%= render :partial => 'docflows/sidebar' %>
<% end %>
