<div id="comment-<%= comment.id %>">
<h4>
  <%= avatar(comment.user, :size => "24") %>
  <%= authoring comment.created_at, comment.user, :label => :label_updated_time_by %>
</h4>

<div class="wiki editable">
  <% if User.current.admin? %>
    <div class="contextual">
      <%= link_to( image_tag('edit.png'), 
                   '#', 
                   :onclick => "jQuery('#comment-#{comment.id}-form').show(); jQuery('#comment-#{comment.id}').hide(); return false;",
                   :title => l(:button_edit) ) %>

      <%= link_to_remote( l(:button_delete),
                    { :url => {:action=>'remove_comment', :cid => comment},
                      :method => :delete },
                    :class => 'icon icon-del' ) %>
    </div>
  <% end %>
  <%= textilizable(comment, :notes) %>
</div>
</div>
<%= render :partial => 'docflow_comments/form_comment',  :locals => {:comment => comment} %>
