<%= render :partial => 'docflows/head' %>

<% if @type.errors.any? %>
  <div id="error_explanation" class="flash error">
    <h4><%= pluralize(@type.errors.count, "error")+l(:label_docflow_errors_found) %> </h4>
    <ul>
    <% @type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= fields_for @type do |ff|%>
  <p>
    <%= ff.label l(:label_docflow_title) %>
    <%= ff.text_field :name, :required => true  %>
  </p>

<% end %>