<%= render :partial => 'docflows/head' %>

<div class="contextual">
  <%= link_to(l(:label_docflow_add_type), {:controller => 'docflow_types', :action => 'new'}, :class => 'icon icon-add')  %>
</div>

<h2><%= l(:label_docflow) %> / <%= l(:label_docflow_types) %> </h2>

<br />
<table class='list'>
  <tr>
    <th><%= l(:label_docflow_types) %></th>
    <th class="button_area">&nbsp;</th>
  </tr>  
<% @types.each do |df_type| %>
  <tr>
    <td><%= link_to( df_type.name, edit_docflow_type_path(df_type) ) %></td>
    <td class="button_area"><%= link_to( l(:button_delete), docflow_type_path(df_type),
                      :confirm => l(:label_docflow_delete_type_confirm),
                      :method => :delete, 
                      :action => :destory, 
                      :class => 'icon icon-del') %></td>
  </tr>                        
<% end %>
  </tr>
</table>

<% content_for :sidebar do %>
  <%= render :partial => 'docflows/sidebar' %>
<% end %>