<%= form_tag({},{:class=>'checklist_form', :id =>'checklist_form'}) do %>
  <div class="tabs">
    <ul>
      <li class="nav-tab">
        <a href="#" class="tab_selector selected" id="tab_users"><span><%= l(:label_docflows_users) %></span></a></li>
      <li class="nav-tab"><a href="#" class="tab_selector" id="tab_groups"><%= l(:label_docflows_groups) %></a></li>
    </ul>
  </div>
  <div class="tab_content" id="users_content">
    <p>
      <label><%= check_box_tag("all_users", 'y') %> <%= l(:label_docflows_all_users) %></label>
    </p>
    <fieldset><legend><strong> <%= l(:label_docflows_users) %> </strong></legend>
    <p><%= text_field_tag('filer_people', '', :class => 'find-filter') %></p>
    <div id="user-list" class="list-container">
      <% @users.sort_by{|el| el.name.to_s}.each do |u| %>
        <%= content_tag( :label,
                         check_box_tag("users[#{u.id}]", u.id) + u.name.to_s,
                         :class => "one-name" ) %>
      <% end %>
    </div>
  </fieldset>
  </div>
  <div class="tab_content tab_invisible" id="groups_content">
    <p><strong><%= l(:label_docflows_departments) %></strong></p>
    <%= select_tag("department_id", "<option value=\"\" selected>-</option>".html_safe+options_from_collection_for_select(@user_departments.sort_by{|el| el.name.to_s},"id","name")) %>
    <h4><%= l(:label_docflows_users_titles) %></h4>
    <p><%= text_field_tag('filer_groups', '', :class => 'find-filter') %></p>
    <div id="group-list" class="list-container">
      <% @user_titles.sort_by{|el| el.name.to_s}.each do |t| %>
        <%= content_tag( :label,
                         check_box_tag("titles[#{t.id}]", t.id) + t.name.to_s,
                         :class => "one-name" ) %>
      <% end %>
    </div>
  </div>
  <p>
  <%= submit_tag(l(:label_docflow_add_item), :id => 'record_add', :class => 'btn-def') %>
  <%= link_to l(:label_docflow_done), @version, :class => 'btn-def' %>
  </p>
<% end %>
